<ion-header>
  <ion-navbar class="navbar" color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Already Watched</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="getTitles().length; else no_content" class="already-watched-list">
    <ion-list>
      <ion-item *ngFor="let title of getTitles()" padding>
        <img [src]="title.imgUrl">{{ title.title }}
      </ion-item>
    </ion-list>
  </div>

  <ng-template #no_content>
    <h2 style="text-align: center">Already Watched list is empty</h2>
  </ng-template>
</ion-content>