<ion-header>
  <ion-navbar class="navbar" color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Already Watched</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="getTitles().length; else no_content" class="already-watched-list">      
    <ion-list>
      <ion-item-sliding *ngFor="let title of getTitles()" padding>
        <ion-item>
          <h1><img [src]="title.imgUrl">{{ title.title }}</h1>
        </ion-item>

        <ion-item-options slide="end">
          <button ion-button color="danger" (click)="removeTitleFromAlreadyWatched(title.title)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ng-template #no_content>
    <h2 style="text-align: center">Already Watched list is empty</h2>
  </ng-template>
</ion-content>